@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@600&display=swap");
html {
  scroll-behavior: smooth;
}

/* ----------------- Default value reset --------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----------------- Variables  --------------- */
/* ----------------- Mixins --------------- */
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* ----------------- Header Styles --------------- */
header {
  background: rgba(221, 221, 221, 0.8);
}

/* ----------------- Logo Styles--------------- */
.logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
}

.logo h1 {
  font-size: 2.2rem;
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  font-style: italic;
  font-weight: normal;
  color: #1572b6;
  font-family: "Monoton", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.logo img {
  margin-left: 10px;
  width: clamp(50px, 10vw, 100px);
  -o-object-fit: contain;
     object-fit: contain;
}

/* ----------------- Navbar Styles --------------- */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 5px 10px;
  background: rgba(221, 221, 221, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-bottom: 2px solid #ccc;
  -webkit-box-shadow: 0 2px 5px #aaa;
          box-shadow: 0 2px 5px #aaa;
}

.navbar ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar ul li a {
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  padding: 8px 16px;
  background: #243b55;
  background: -webkit-gradient(linear, left bottom, left top, from(#232526), to(#243b55));
  background: linear-gradient(0deg, #232526, #243b55);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 2px 2px 5px #0009;
          box-shadow: 2px 2px 5px #0009;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
}

.navbar ul li a:hover {
  color: orange;
  -webkit-box-shadow: 0 0 1px #000;
          box-shadow: 0 0 1px #000;
}

/* ----------------- Generic Styles --------------- */
section {
  padding: 50px 25px;
  font-family: Cambria, serif;
}

section h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Trebuchet MS", sans-serif;
  color: #0b2244;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

section h1 img {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
}

.text {
  margin: 20px 0;
  max-width: 1024px;
  letter-spacing: 0.5px;
}

.text span {
  background: #555;
  color: #eee;
  padding: 2px 5px;
  font-weight: normal;
  border-radius: 2px;
}

a {
  color: #063bce;
}

.ChallengesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
  gap: 25px;
}

.challengeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  gap: 0;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  padding: 15px;
  border-radius: 5px;
}

/* ----------------- Hamburger Menu Button Styles --------------- */
#menu-btn {
  min-height: calc(100vh - 125px);
  background: #edf6f9;
}

.menu-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  height: 300px;
  background: #3faf82;
  border-radius: 5px;
  position: relative;
}

.menu-icon-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90px;
  height: 60px;
  position: relative;
  border-radius: 5px;
}

.menu-icon-1 span {
  width: 90px;
  height: 8px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #555;
          box-shadow: 1px 2px 3px #555;
  position: absolute;
}

.menu-icon-1 span:nth-child(1) {
  -webkit-animation: animateClose1 0.8s forwards;
          animation: animateClose1 0.8s forwards;
}

.menu-icon-1 span:nth-child(2) {
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-icon-1 span:nth-child(3) {
  -webkit-animation: animateClose2 0.8s forwards;
          animation: animateClose2 0.8s forwards;
}

.menu-icon-1.active-1 span:nth-child(1) {
  -webkit-animation: animateOpen1 0.8s forwards;
          animation: animateOpen1 0.8s forwards;
}

.menu-icon-1.active-1 span:nth-child(2) {
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-icon-1.active-1 span:nth-child(3) {
  -webkit-animation: animateOpen2 0.8s forwards;
          animation: animateOpen2 0.8s forwards;
}

.menu-icon-1:hover {
  cursor: pointer;
}

@-webkit-keyframes animateOpen1 {
  0% {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}

@keyframes animateOpen1 {
  0% {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}

@-webkit-keyframes animateOpen2 {
  0% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(135deg);
            transform: translateY(0) rotate(135deg);
  }
}

@keyframes animateOpen2 {
  0% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(135deg);
            transform: translateY(0) rotate(135deg);
  }
}

@-webkit-keyframes animateClose1 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
}

@keyframes animateClose1 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
}

@-webkit-keyframes animateClose2 {
  0% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
}

@keyframes animateClose2 {
  0% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
}

.menu-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  height: 300px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(114, 113, 113, 0.5);
          box-shadow: 0 0 10px rgba(114, 113, 113, 0.5);
}

.menu-icon-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 110px;
  height: 100px;
  position: relative;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 8px 2px rgba(172, 169, 169, 0.3);
          box-shadow: 0 0 8px 2px rgba(172, 169, 169, 0.3);
  overflow: hidden;
}

.menu-icon-2 span {
  height: 8px;
  border-radius: 10px;
  background: #069;
  -webkit-box-shadow: 1px 2px 3px rgba(85, 85, 85, 0.8);
          box-shadow: 1px 2px 3px rgba(85, 85, 85, 0.8);
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-icon-2 span:nth-child(1) {
  left: 15px;
  width: 50px;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.menu-icon-2 span:nth-child(2) {
  -webkit-transition: 1s;
  transition: 1s;
  left: 15px;
  width: 80px;
}

.menu-icon-2 span:nth-child(3) {
  left: 15px;
  width: 30px;
  -webkit-transform: translateY(22px);
          transform: translateY(22px);
}

.menu-icon-2.active-2 span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
  width: 80px;
}

.menu-icon-2.active-2 span:nth-child(2) {
  -webkit-transform: translateX(120px);
          transform: translateX(120px);
}

.menu-icon-2.active-2 span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(315deg);
          transform: translateY(0) rotate(315deg);
  width: 80px;
}

.menu-icon-2:hover {
  cursor: pointer;
}

/* ----------------- Loader Styles--------------- */
.loader-container-1 {
  width: 400px;
  height: 300px;
  background: #e56262;
  border-radius: 5px;
}

.loader-1 {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-1 span {
  position: absolute;
  display: block;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.loader-1 span:nth-child(1) {
  width: 100px;
  height: 100px;
  -webkit-animation: scaleAnimation-1 3s ease-in-out infinite alternate;
          animation: scaleAnimation-1 3s ease-in-out infinite alternate;
}

.loader-1 span:nth-child(2) {
  width: 70px;
  height: 70px;
  -webkit-animation: scaleAnimation-2 3s ease-in-out infinite alternate;
          animation: scaleAnimation-2 3s ease-in-out infinite alternate;
}

.loader-1 span:nth-child(3) {
  width: 30px;
  height: 30px;
  -webkit-animation: scaleAnimation-3 3s ease-in-out infinite alternate;
          animation: scaleAnimation-3 3s ease-in-out infinite alternate;
}

@-webkit-keyframes scaleAnimation-1 {
  0%,
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.35);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.35);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.45);
            box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.45);
  }
}

@keyframes scaleAnimation-1 {
  0%,
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.35);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.35);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.45);
            box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.45);
  }
}

@-webkit-keyframes scaleAnimation-2 {
  0%,
  40% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
  }
}

@keyframes scaleAnimation-2 {
  0%,
  40% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes scaleAnimation-3 {
  0%,
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
  }
}

@keyframes scaleAnimation-3 {
  0%,
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.35);
  }
}

.loader-container-2 {
  width: 400px;
  height: 300px;
  background: #000000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-container-2 svg {
  width: 0;
  height: 0;
}

.loader-2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  -webkit-filter: url(#gooey);
          filter: url(#gooey);
}

.loader-2 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: blob 4s linear infinite;
          animation: blob 4s linear infinite;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
}

.loader-2 span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 35%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #069;
          box-shadow: 0 0 15px #069;
  background: -webkit-gradient(linear, left bottom, left top, from(#069), to(#abcdef));
  background: linear-gradient(0deg, #069, #abcdef);
}

@-webkit-keyframes blob {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes blob {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----------------- Chart Styles--------------- */
.chart-container-1 {
  width: 400px;
  height: 300px;
  background: #42a7a1;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart-1 {
  width: 300px;
  height: 240px;
  background: #fefefe;
  border-radius: 5px;
  -webkit-box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.info-strip {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f1ba64;
  color: #fff;
  padding: 0 15px;
}

.info-left {
  letter-spacing: 1px;
}

.info-left p:nth-child(1) {
  text-transform: uppercase;
}

.info-left p:nth-child(2) {
  font-size: 12px;
}

.info-right {
  letter-spacing: 1px;
}

.info-right p:nth-child(1) {
  text-align: right;
  font-size: 12px;
}

.labels {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.labels .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labels .label p {
  font-size: 12px;
  font-weight: 200;
  margin-right: 10px;
  color: #888;
}

.labels .label span {
  display: inline-block;
  border-radius: 0;
  width: 12px;
  height: 3px;
}

.labels .label:nth-child(1) span {
  background: #fa7373;
  margin-right: 8px;
}

.labels .label:nth-child(2) span {
  background: #7ba2ff;
  margin: 0 8px 0 10px;
}

.lines {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  position: relative;
}

.line {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.data svg {
  position: absolute;
  top: -2%;
  left: 5%;
  right: 0;
  bottom: 0;
}

.data polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

.data.red polyline {
  stroke: #fa7373;
}

.data.blue polyline {
  stroke: #7ba2ff;
}

.points-red .point {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fa7373;
  cursor: pointer;
  z-index: 10;
}

.points-red .point:nth-child(1) {
  top: 51%;
  left: 7%;
}

.points-red .point:nth-child(2) {
  top: 9.5%;
  left: 20.5%;
}

.points-red .point:nth-child(3) {
  top: 22%;
  left: 34%;
}

.points-red .point:nth-child(4) {
  top: 9%;
  left: 47.5%;
}

.points-red .point:nth-child(5) {
  top: 40%;
  left: 60%;
}

.points-red .point:nth-child(6) {
  top: 52%;
  left: 74%;
}

.points-red .point:nth-child(7) {
  top: 18%;
  left: 88%;
}

.points-red .point small {
  visibility: hidden;
  color: #fff;
  position: relative;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.points-red .point small::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 3px 7px rgba(20, 20, 20, 0.5);
          box-shadow: 2px 3px 7px rgba(20, 20, 20, 0.5);
  background: #fa7373;
  z-index: -1;
  padding: 2px;
}

.points-red .point small::after {
  content: "";
  position: absolute;
  top: 110%;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fa7373;
  z-index: -1;
}

.points-red .point:hover small {
  visibility: visible;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.points-blue .point {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #7ba2ff;
  cursor: pointer;
}

.points-blue .point:nth-child(1) {
  top: 70%;
  left: 7%;
}

.points-blue .point:nth-child(2) {
  top: 58%;
  left: 20.5%;
}

.points-blue .point:nth-child(3) {
  top: 75%;
  left: 34%;
}

.points-blue .point:nth-child(4) {
  top: 62%;
  left: 47.5%;
}

.points-blue .point:nth-child(5) {
  top: 69%;
  left: 60%;
}

.points-blue .point:nth-child(6) {
  top: 85%;
  left: 75%;
}

.points-blue .point:nth-child(7) {
  top: 74%;
  left: 88%;
}

.points-blue .point small {
  visibility: hidden;
  color: #fff;
  position: relative;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.points-blue .point small::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 3px 7px rgba(20, 20, 20, 0.5);
          box-shadow: 2px 3px 7px rgba(20, 20, 20, 0.5);
  background: #7ba2ff;
  z-index: -1;
  padding: 2px;
}

.points-blue .point small::after {
  content: "";
  position: absolute;
  top: 110%;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #7ba2ff;
  z-index: -1;
}

.points-blue .point:hover small {
  visibility: visible;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.weekdays {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
}

/* ----------------- Footer Styles--------------- */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  font-family: cursive;
}
/*# sourceMappingURL=styles.css.map */